<div style="padding: 0.1em 0.6em">

    <div class="col s8 m8 l8 left">&nbsp;</div>
    <div class="col s4 m4 l4 right right-align">
        August, 2016
    </div>

    <div class="col s2 m2 l2" >&nbsp;</div>
    <div class="divider col s8 m8 l8" style="margin: 10px"></div>
    <div class="col s2 m2 l2" >&nbsp;</div>

    <div class="col s12 m12 l12">
        <h5>Help</h5>
        <p>
        a) Login/Signup using your social media account to use BitTacToe
        <br/>b) Add/Update your BitCoin wallet address
        <br/>c) Make some satoshi to play the game against online users


        <br/><br/>Note: Each game requires to have minimum 500 satoshi.
        The reward service is automated. You will earn and receive your rewards
        automatically. You can expect to receive your reward in Bitcoin on 1st of every month.
        Minimum satoshi requirement is 50,000. If you do not have enough satoshi, you will not
        receive Bitcoin(s) reward. Remaining satoshi of your account will be carried over to next
        month and you will be able to receive your total reward in next month.
        </p>
    </div>

    <div class="col s2 m2 l2" >&nbsp;</div>
    <div class="divider col s8 m8 l8" style="margin: 10px"></div>
    <div class="col s2 m2 l2" >&nbsp;</div>

    <div class="col s12 m12 l12">
        <div>
            <h5>About</h5>
            <h6>Privacy policy</h6>
        </div>
        <p>
            All rights reserved. Owner/Developer/Creator of this app, Viral Joshi reserves all the
            rights of this app to distribute/share/remove fom/over Google Play Store. This is free
            game app for everyone to play using any Android device. Illegal distribution of this app
            is prohibited.

            <br/><br/>There is no special permission required to download and use the application.
            By downloading and using the application you agree and allow developer to collect required
            data from you. This application collects "Email Address" and "BitCoin Wallet Address" from
            user. This app and owner does not collect any other information from user.

            <br/><br/>By signing up using social media account, you allow us to access your email address from
            third party services "Facebook", "Google Plus" and "Twitter". We do not collect any other
            information from your social media account.

            <br/><br/>This app was created to let a user play against unknown other users online. And also
            to provide rewards to play the game. This app may collect some data used by third party
            advertising network to serve appropriate ads. BitTacToe and developer will never collect
            any other information other than mentioned above. This app is fun and reward based app.

            <br/><br/>There is no special terms and conditions to play this game. You are allowed to share
            this app using "Share" option from menu. Share this app with your family and friends so
            you can play more online and you can get more reward.

            <br/><br/>Policies are subject to change without any notice. We may inform you when policies are
            changed or updated.
        </p>
    </div>


</div>